$size-marging-contact-card-header: 50px;

.contact-card{
  background-color: $white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  height: 140px;
  max-width: 400px;



  .contact-card-header {
    // background-color: grey;
    display: flex;
    padding: 10px;
    // padding: 10px;
    position: relative;

    .container-avatar{
      width: $size-marging-contact-card-header;
      position: absolute;
      top: 20px;
      left: 20px;
    }

    img{
      border-radius: 50%;
      width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .container-header{
      // background-color: blue;
      flex-grow: 1;
      height: 65px;
      padding: 10px 0px 0px 85px;
    }

    h3{
      font-size: 20px;
      margin: 0;
    }

    p{
      color: #a2a2a2;
    }

  }

  .contact-card-body{
    text-align: center;

    .days-number{
      font-size: 12px;
      color: $blue;
      font-weight: 800;
    }
    .days-count{
      font-size: 30px;
      color: $orange;
      font-weight: 800;
    }
  }




}
